@import '../../styles/config.scss';

.our-story-container{
    @include centerMiddleFlex();
}
.story-container{
    width: 1000px;
    font-family: $font-stack;
    line-height: 30px;
    text-align: center;
    margin-top: 35px;

    p{
        font-size: 18px;
    }

    h2{
        font-size: 35px;
        font-weight: 200;
        font-family: $font-stack;
    }
}