@import '../../styles/config.scss';

.picture-display-cover-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picture-display-container{
    width: 450px;
    height: 400px;
    margin: 10px;

    img{
        @include images();
        box-shadow: $border-shadow;
    }
}

@media(max-width: 1024px) {
    .picture-display-cover-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .picture-display-container{
        width: 300px;
        height: 300px;
        margin: 5px;
    
        img{
            @include images();
            box-shadow: $border-shadow;
        }
    }
}

@media(max-width: 376px) {
    .picture-display-cover-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .picture-display-container{
        width: 100vw;
        height: 300px;
        margin: 5px;
    
        img{
            @include images();
            box-shadow: $border-shadow;
        }
    }
}