.picture-display-cover-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.picture-display-container{
    width: 450px;
    height: 400px;
    margin: 10px;

    img{
        @include images();
    }
}
