
//Variables
$border-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
$text-color: black;




//Mixins
@mixin link-style($color) {
    list-style-type: none;
    text-decoration: none;
    color:$color;
}

@mixin image-container($w, $h) {
    width: $w;
    height: $h;
    box-shadow: $border-shadow;
    margin: 20px;
}

@mixin images() {
    height: 100%;
    width: 100%;
    object-fit: cover;
}