.next-btn{
    width: 30px;
    position: relative;
    bottom: 60px;
    left: 250px;

    &:hover{
        cursor: pointer;
        transition: all .5s ease-in-out;
        transform: scale(1.5);
    }
}


.back-btn{
    width: 30px;
    position: relative;
    bottom: 60px;
    right: 250px;

    &:hover{
        cursor: pointer;
        transition: all .5s ease-in-out;
        transform: scale(1.5);
    }

}