.mobile-thumbnail {
  display: none; }

.mobile-main-pic {
  display: none; }

main {
  display: flex;
  justify-content: space-evenly; }

.thumbnail-container {
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 18%; }

.image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15%; }

.main-pic-container {
  width: 500px;
  height: 670px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 3%; }

.main-image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%; }

.product-info {
  width: 400px;
  height: 600px;
  text-align: left;
  margin-top: -20px; }

.product-title {
  font-size: 35px;
  font-weight: 150; }

.product-price {
  font-size: 25px;
  font-weight: 350;
  margin-top: -20px; }

.product-description {
  font-size: 20px;
  font-weight: 175;
  letter-spacing: 2px;
  line-height: 30px; }

.add-to-cart {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background: #afafaf;
  border: none; }
  .add-to-cart:hover {
    background: grey;
    cursor: pointer; }

@media (max-width: 1024px) {
  .mobile-thumbnail {
    display: none; }
  .mobile-main-pic {
    display: none; }
  main {
    height: 55vh;
    margin-top: 150px; }
  .main-pic-container {
    width: 400px;
    height: 570px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 3%; } }

@media (max-width: 375px) {
  .mobile-main-pic {
    width: 100vw;
    height: 470px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    border-radius: 3%; }
  .desktop-thumbnail {
    display: none; }
  .desktop-main-pic {
    display: none; }
  main {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 10px; }
  .mobile-main-pic {
    width: 100vw;
    height: 470px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin-left: 20.95px;
    display: inline-flex;
    justify-content: center; }
  .swiper-container {
    width: 100vw;
    height: 470px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    margin: 0px;
    display: inline-flex; }
    .swiper-container img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .mobile-thumbnail {
    display: flex; }
  .product-info {
    width: 90vw;
    height: 600px;
    text-align: left;
    margin-top: -20px; }
  .product-title {
    font-size: 25px; }
  .product-price {
    font-size: 20px; }
  .product-description {
    font-size: 16px; }
  .add-to-cart {
    margin-left: 70px; } }
