@import '../../styles/config.scss';
.footer-cover-bar{
    width: 100vw;
    height: 100px;
    background: #f9f9f9;
    // background: transparent;
    box-shadow: $border-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-stack;

    &:hover{
        background: darken($color: #f9f9f9, $amount: 5);
    }
}

.footer-email{
    width: 700px;
    height: 100px;
    // background: blue;
    @include flexEvenly();

    input{
        width: 300px;
    }
}
.arrow{
    width: 10px;
    margin-left: 5px;

    &:hover{
        cursor: pointer;
        transition: all .5s ease-in-out;
        transform: scale(1.3);
    }
}
.footer-cover-container{
    width: 100vw;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: $font-stack;
    // background: blue;
}

.footer-left{
    width: 300px;
    @include flexEvenly();
    flex-direction: column;
    line-height: 0px;
    text-align: center;
    flex-wrap: wrap;
    // background: green;
}

.footer-middle{
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 30px;
    margin-left: 250px;
    // background: blue;

    .footer-links{
        line-height: 14px;
    }

    p:hover{
        color: lightgrey;
        cursor: pointer;
    }
}

.footer-right{
    width: 300px;
    @include flexEvenly();
    flex-direction: column;
    flex-wrap: wrap;
    // background: pink;

    img{
        width: 25px;

        &:hover{
            cursor: pointer;
            transition: all .5s ease-in-out;
            transform: scale(1.5);
        }
    }
}

.social-media-icons{
    width: 250px;
    @include flexEvenly();
    margin-bottom: 25px;
}

.bottom-link{
    @include link-style(black);
}

.email-text-mobile{
    display: none;
}


@media(max-width: 1024px){
    .footer-cover-bar{
        width: 100vw;
        height: 100px;
        background: #f9f9f9;
        margin-top: 55px;
        // background: transparent;
        box-shadow: $border-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-stack;
        // background: blue;
    
        &:hover{
            background: darken($color: #f9f9f9, $amount: 5);
        }
    }

    .email-text-mobile{
        display: none;
    }

    .footer-left{
        width: 200px;
        // background: lightgreen;
    }

    .footer-middle{
        width: 200px;
        margin-left: 20px;
        // background: lightblue;
    }

    .footer-right{
        width: 300px;
        height: 100px;
        // background: lightcoral;
        margin-top: 20px;
        justify-content: space-evenly;
    }

}

@media(max-width: 376px){

    .footer-cover-bar{
        // background: palegreen;
        margin-right: 0px;
        padding-right: 0px;
    }
    .footer-email{
        width: 300px;
        // background: blue;
        p{
            font-size: 12px;
        }
    }

    .footer-bar-left{
        width: 200px;
    }

    .email-input{
        width: 5px;
        // background: orange;
    }

    .footer-cover-container{
        display: flex;
        justify-content: center;
        // background: seagreen;
    }

    .footer-middle{
        text-align: center;
        margin-left: 0px;
    }

    .footer-email-container{
        display: flex;
        flex-direction: column;
    }

    .email-area-mobile{
        display: flex;
    }
    
    .email-text{
        display: none;
    }

}