.shop-container {
  width: 80vw;
  float: right;
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: lightblue; */ }

.product-card {
  width: 350px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: -10px;
  /* background: blue; */ }

.image-container {
  width: 300px;
  height: 250px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px; }

.product-pic {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.product-card-bottom {
  width: 300px;
  height: 70px;
  margin-top: -25px;
  text-align: left;
  /* background: purple; */ }

.price {
  font-weight: 500; }

header {
  display: flex; }

.nav-header {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between; }
  .nav-header ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px; }
  .nav-header li {
    padding: 15px; }
  .nav-header a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  .nav-header a:hover {
    color: lightgrey; }

main {
  display: flex;
  justify-content: space-evenly; }

.thumbnail-container {
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 18%; }

.image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15%; }

.main-pic-container {
  width: 500px;
  height: 670px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 3%; }

.main-image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%; }

.product-info {
  width: 400px;
  height: 600px;
  text-align: left;
  margin-top: -20px; }

.product-title {
  font-size: 35px;
  font-weight: 150; }

.product-price {
  font-size: 25px;
  font-weight: 350;
  margin-top: -20px; }

.product-description {
  font-size: 20px;
  font-weight: 175;
  letter-spacing: 2px;
  line-height: 30px; }

.add-to-cart {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background: #afafaf;
  border: none; }
  .add-to-cart:hover {
    background: grey;
    cursor: pointer; }

.app-container {
  text-align: center; }
