.shop-container {
  width: 80vw;
  float: right;
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: lightblue; */ }

.product-card {
  width: 350px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: -10px;
  /* background: blue; */ }

.image-container {
  width: 300px;
  height: 250px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px; }

.product-pic {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.product-card-bottom {
  width: 300px;
  height: 70px;
  margin-top: -25px;
  /* background: purple; */ }

.product-price {
  font-weight: 500; }

header {
  display: flex;
  justify-content: flex-end; }

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .nav-header ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px; }
  .nav-header li {
    padding: 15px; }
  .nav-header a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  .nav-header a:hover {
    color: lightgrey; }

.app-container {
  text-align: center; }
