.shop-container {
  width: 80vw;
  float: right;
  margin-right: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: lightblue; */ }

.product-card {
  width: 350px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  margin: -10px;
  /* background: blue; */ }

.image-container {
  width: 300px;
  height: 250px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px; }

.product-pic {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.product-card-bottom {
  width: 300px;
  height: 70px;
  margin-top: -25px;
  text-align: left;
  /* background: purple; */ }

.price {
  font-weight: 500; }

header {
  display: flex; }

.title-image {
  margin-top: 50px; }

.nav-header {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center; }
  .nav-header ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px; }
  .nav-header li {
    padding: 15px; }
  .nav-header a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  .nav-header a:hover {
    color: lightgrey; }

main {
  display: flex;
  justify-content: space-evenly; }

.thumbnail-container {
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 18%; }

.image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15%; }

.main-pic-container {
  width: 500px;
  height: 670px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 3%; }

.main-image-container-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2%; }

.product-info {
  width: 400px;
  height: 600px;
  text-align: left;
  margin-top: -20px; }

.product-title {
  font-size: 35px;
  font-weight: 150; }

.product-price {
  font-size: 25px;
  font-weight: 350;
  margin-top: -20px; }

.product-description {
  font-size: 20px;
  font-weight: 175;
  letter-spacing: 2px;
  line-height: 30px; }

.add-to-cart {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  color: white;
  background: #afafaf;
  border: none; }
  .add-to-cart:hover {
    background: grey;
    cursor: pointer; }

.cart-card {
  width: 600px;
  height: 200px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  margin-left: 50px; }

.second-cart-card {
  width: 600px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px; }

.card-pic-container {
  width: 200px;
  height: 150px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px; }

.card-product-pic {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.card-buttons {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title {
  font-size: 50px;
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif; }

.about-pic-container {
  width: 900px;
  height: 500px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  border-radius: 3%; }

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.text-container {
  width: 800px;
  text-align: center; }
  .text-container p {
    font-size: 20px;
    line-height: 35px;
    font-family: Georgia, "Times New Roman", Times, serif; }

h2 {
  font-family: Georgia, "Times New Roman", Times, serif; }

.banner-cover-container {
  width: 100%;
  height: 500px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-top: 50px;
  background-image: url("https://scontent.faus1-1.fna.fbcdn.net/v/t1.0-9/53243746_429993221082151_1424503552432144384_o.jpg?_nc_cat=111&_nc_sid=9267fe&_nc_ohc=gdxB4Z8h7UYAX-U3wLA&_nc_ht=scontent.faus1-1.fna&oh=86168c3390cec577394b16f1e9c8403b&oe=5F46F28B");
  background-size: cover;
  background-position: 0px -1000px;
  background-repeat: no-repeat; }

.button-container {
  width: 200px;
  height: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  list-style-type: none;
  text-decoration: none;
  color: black;
  list-style-type: none;
  opacity: .75; }
  .button-container:hover {
    opacity: 1; }

.landing-shop-btn {
  list-style-type: none;
  text-decoration: none;
  color: black;
  text-decoration: none; }

.btn-text {
  font-family: Georgia, "Times New Roman", Times, serif; }

.our-story-container {
  display: flex;
  justify-content: center;
  text-align: center; }

.story-container {
  width: 1000px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  text-align: center;
  margin-top: 35px; }
  .story-container p {
    font-size: 18px; }
  .story-container h2 {
    font-size: 35px;
    font-weight: 200;
    font-family: Georgia, "Times New Roman", Times, serif; }

.picture-display-cover-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.picture-display-container {
  width: 450px;
  height: 400px;
  margin: 10px; }
  .picture-display-container img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.review-title {
  font-size: 35px;
  font-weight: 300;
  margin-top: 45px; }

.reviews-main {
  display: inline-flex; }

.reviews-cover-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between; }

.reviews-display-container {
  width: 350px;
  height: 200px;
  margin: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif; }
  .reviews-display-container img {
    width: 10px;
    margin: 5px; }
  .reviews-display-container .bottom-quotes {
    width: 10px;
    margin: 5px;
    transform: scaleX(-1); }

.app-container {
  text-align: center; }
