
header{
    display: flex;
    justify-content: flex-end;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
      
    ul {
    display:flex;
    list-style-type: none;
    margin-right: 50px;
    
    }
    
    li {
      padding:15px;

    }
    a{
        @include link-style($text-color);
    }
    
    a:hover{
      color: lightgrey;
    }
  }