@import '../../styles/config.scss';


// .nav-container{
//   display: flex;
// }
header{
    display: flex;
    font-family: $font-stack;
    // flex-direction: row-reverse;
    // background: blue;
}

.title-image{
  width: 700px;
  margin-top: 50px;
}

.profile-pic{
  width: 75px;
  margin-left: 100px;
}

.username{
  margin-left: 100px;
}

.nav-header {
    width:100vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content:center;
      
    ul {
    display:flex;
    list-style-type: none;
    margin-right: 50px;
    
    }
    
    li {
      padding:15px;

    }
    a{
        @include link-style($text-color);
    }
    
    a{
      position:relative;
    }

    a:before{
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 8px;
      left: 0;
      background-color: black;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    a:hover:before {
      color: lightgrey;
      margin-left: 20px;
      visibility: visible;
      width: 50%;
    }

    a:hover{
      color: lightgrey;
    }

  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    transition: all 0.3s ease-in-out;
  }

  @media(max-width: 376px){

    header{
      width: 100vw;
      margin-top: -70px;
      // background: rebeccapurple;
    }

    ul{
      margin-top: 140px;
    }

    .nav-container{
      width: 100vw;
      display: flex;
      // justify-content: center;
      align-items: center;
      // margin-left: 30px;
      // background: rebeccapurple;
    }
    .title-image{
      width: 280px;
      margin-left: 40px;
    }
  }

  .nav-header{
    display: none;
  }
