header {
  display: flex; }

.title-image {
  margin-top: 50px; }

.nav-header {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center; }
  .nav-header ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px; }
  .nav-header li {
    padding: 15px; }
  .nav-header a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  .nav-header a:hover {
    color: lightgrey; }
