header {
  display: flex; }

.title-image {
  margin-top: 50px; }

.nav-header {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center; }
  .nav-header ul {
    display: flex;
    list-style-type: none;
    margin-right: 50px; }
  .nav-header li {
    padding: 15px; }
  .nav-header a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  .nav-header a {
    position: relative; }
  .nav-header a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 8px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
  .nav-header a:hover:before {
    color: lightgrey;
    margin-left: 20px;
    visibility: visible;
    width: 50%; }
  .nav-header a:hover {
    color: lightgrey; }
